@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

html, body {
  height: auto;
  min-height: 100%;
  /* Убираем все лишнее */
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-y: scroll; 
  font-family: sans-serif;
  line-height: 1.5;
}

/* Убираем стандартные отступы Next.js, если они мешают */
* {
  box-sizing: border-box;
}